@import "tailwindcss";

html,
body,
#root {
  min-height: 100dvh;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: auto;
  touch-action: auto;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  user-select: none;
  -webkit-user-select: none;
}

input,
textarea {
  user-select: text !important;
  -webkit-user-select: text !important;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}
